/* APP */
.app {
    /* position: relative; */
}
.app-go-on-top {
    width: 40px;
    height: 50px;
    background-color: var(--primary-color);
    position: fixed;
    bottom: 1%;
    right: 1%;
    display: flex;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
    z-index: 1;
    cursor: pointer;
    color: var(--white-color);
    font-size: 20px;
}
.app-go-on-top:hover {
    background-color: var(--white-color);
    border-color: var(--primary-color);
    color: var(--primary-color);
}
.app-go-on-top i {
    margin: auto;
}
/* HEADER */
.menu-bar.fixxed {
    top: 0;
    left: 0;
    z-index: 2;
    padding: 0 10px;
    transform: translateY(-100%);
    opacity: 0;
    animation: fadeToBottom var(--transition-time) forwards;
    background: var(--white-color);
    transition: var(--transition-time);
    position: fixed;
    left: 0;
    right: 0;
    box-shadow: 1px 0 5px #fff;
}
@-webkit-keyframes fadeToBottom {
    0% {
        transform: translateY(-100%);
        opacity: 0.5;
    }
    50% {
        transform: translateY(-50%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
/* NAVBAR */

.menu-bar {
    position: relative;
}

.menu__logo-bar-function {
    height: inherit;
    margin: 0;
}
.menu__logo-bar-function i {
    font-size: 15px;
    padding: 18px;
}
.menu__logo-bar-function button {
    margin: auto;
}
.menu-logo-slide {
    position: relative;
}
.menu-logo-slide a {
    font-weight: 600;
}
.menu-logo-slide li:hover {
    background-color: unset !important;

}
.menu-logo-item--link {
    width: 100%;
    right: 10%;
    top: 0;
    z-index: 2;
    background: var(--white-color);
    width: 200px;
}
.menu-logo-item--link li{
    padding: 10px 20px !important;
}
.menu-logo-item--link li a{
    /* background-color: var(--white-color); */
    font-size: 12px;
    /* padding: 10px 20px */
}

.menu-logo-item--link li:hover a {
    color: var(--primary-color);
}
.menu-bar-function {
    height: 52px;
}
.navbar-wraps {
    display: flex;
    justify-content: space-between;
}
.menu__logo-bar {
    width: 100%;
    display: flex;
    align-items: center;
}
.menu__logo-bar-info {
    display: flex;
    align-items: center;
}
.logo {
    width: 87px;
    height: 87px;
}
.navbar-inverse.menu-bar {
    margin: 0;
}
.menu__logo-bar-icon {
    font-size: 38px;
    margin-right: 10px;
    color: var(--primary-color);
}
.menu__logo-bar-wraps {
}
.cart-box {
    display: none;
}
.menu__logo-bar-text {
    display: block;
    font-size: 14px;
}
.menu__logo-bar-desc {
    display: block;
    font-size: 20px;
    font-weight: 400;
    color: var(--primary-color);
}
/* SOCIAL */
.menu__logo-social {
    display: flex;
    justify-content: space-evenly;
}
.menu__logo-social-icon {
    width: 35px;
    height: 35px;
    border: 2px solid;
    display: flex;
    border-radius: 50%;
    cursor: pointer;
}
.menu__logo-social-icon:hover {
    background-color: var(--white-color);
}
.menu__logo-social-icon--facebook {
    background-color: var(--facebook-color);
    border-color: var(--facebook-color);
}
.menu__logo-social-icon--facebook:hover i {
    color: var(--facebook-color);
}
.menu__logo-social-icon--twitter {
    background-color: var(--twitter-color);
    border-color: var(--twitter-color);
}
.menu__logo-social-icon--twitter:hover i {
    color: var(--twitter-color);
}
.menu__logo-social-icon--youtube {
    background-color: var(--youtube-color);
    border-color: var(--youtube-color);
}
.menu__logo-social-icon--youtube:hover i {
    color: var(--youtube-color);
}
.menu__logo-social-icon--instagram {
    background-color: var(--instagram-color);
    border-color: var(--instagram-color);
}
.menu__logo-social-icon--instagram:hover i {
    color: var(--instagram-color);
}
.menu__logo-social i {
    font-size: 16px;
    margin: auto;
    color: var(--white-color);
}
/* MENU ITEMs */
.menu-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-header.active .navbar-brand--link {
    color: var(--primary-color) !important;
}

.navbar-header:hover .navbar-brand--link {
    color: var(--primary-color) !important;
}
.navbar-header:hover .navbar-header__list {
    animation: visible 0.2s ease-in forwards;
    display: block;
    z-index: 1;
}
.navbar-brand--link {
    font-weight: 600;
    font-size: 16px;
    /* color: var(--white-color) !important */
}
@keyframes visible {
    from {
        visibility: hidden;
        opacity: 0;
        transform: scale(0);
    }
    to {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }
}
.navbar-brand--link {
    display: flex;
    align-items: center;
}
.navbar-header {
    position: relative;
}
.navbar-header button:hover {
    cursor: pointer;
}
.navbar-header__list {
    min-width: 200px;
    width: auto;
    border: 1px solid;
    position: absolute;
    top: 100%;
    left: -50%;
    padding: 20px 0;
    background-color: var(--white-color);
    list-style: none;
    margin: 0;
    max-height: 600px;
    overflow-y: auto;
    transform-origin: 50% 7%;
    visibility: hidden;
    transition: var(--transition-time);
}
.navbar-header__list--cart{
    left: -500%;
    min-width: 430px;
}
.navbar-header__list h4 {
    padding-left: 20px;
}
.navbar-header__list-item {
    /* margin-bottom: 10px; */
    padding: 6px 30px !important;
}
.navbar-header__list-link {
    display: block;
    font-size: 14px;
    color: var(--text-color);
    min-width: 180px;
    font-weight: 600;
    color: var(--text-hover-color);
}
.navbar-header__list-link:hover {
    color: var(--primary-color);
    /* text-decoration: none; */
}

.navbar-header--button {
    display: flex;
    align-items: center;
}
.navbar-header-icon {
    position: relative;
    cursor: pointer;
}
.navbar-header-icon .navbar-header__list {
    right: 0;
    padding: 0;
}
.navbar-header__list ul {
    padding: 10px;
    list-style: none;
    min-width: 240px !important;
}
.navbar-product-cart,
.navbar-product-inner {
    display: flex;
    align-items: center;
}
.navbar-product-cart {
    cursor: pointer;
    padding: 5px 15px;
    width: 400px;
    justify-content: space-between;
}
.navbar-product-cart button {
    margin: 0;
}
.navbar-product-cart:hover {
    background-color: rgba(9, 9, 9, 0.2);
}
.product-cart-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.product-cart-info p {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 16px;
}
.product-cart-info span {
    font-weight: 600;
}
.navbar-product-cart img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.navbar-header-icon i {
    display: none;
}
.navbar-header-icon i.active {
    display: block;
}
.navbar-header__input {
    position: absolute;
    right: 0;
    z-index: 1;
    width: 250px;
    outline: none;
    border: none;
    transition: var(--transition-time);
    opacity: 0;
    visibility: hidden;
}
.navbar-header__input.active{
    opacity: 1;
    visibility: visible
}

/* FUNCTION */
.menu__function {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.menu__function i {
    color: var(--white-color);
    margin: auto;
}

/* BANNER */
.banner {
    width: 100%;
    height: 760px;
    position: relative;
    margin-bottom: 10px;
}
.banner-top{
    margin: 0;
}
.banner .banner-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.banner-title {
    margin: 0 auto;
    width: 100%;
}
.col-centered {
    float: none;
    margin: 0 auto;
}
.banner-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
    margin-bottom: 25%;
}
.banner-inner h2 {
    color: var(--white-color);
    font-size: 80px;
    font-weight: 600;
    margin-bottom: 55px;
    margin-top: 0;
    text-align: center;
}
.banner-inner h3 {
    color: var(--white-color);
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
.banner-inner button {
    padding: 11px 27px;
    font-size: 12px;
    font-weight: 600;
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: var(--white-color);
    transition: var(--transition-time);
}
.banner-inner button:hover {
    background: var(--white-color);
    /* border: 2px solid var(--primary-color); */
    color: var(--primary-color);
}
.banner__item {
    /* width: inherit; */
    display: flex;
    align-items: flex-start;
    color: var(--white-color);
    justify-items: center;

}
.banner__item i {
    display: flex;
   
}

.banner-item--decor {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.banner-item-inner{
    width: 370px;
    margin: 0 auto;
    float: left;
    padding: 0 0 20px;
}
.banner__item i {
    font-size: 50px;
    padding-right: 25px;
    z-index: 1;
}
.banner__info h4 {
    margin: 0 0 10px;
}
.banner__info span {
    color: var(--text-hover-color);
}
.banner-video {
    height: 885px;
}
.banner-video-inner {
    width: 100%;
    text-align: right;
    padding-left: 50%;
    height: auto;
    padding-top: 7%;
}
.banner-video-wraps {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 10px;
}
.banner-video-wraps p,
.banner-video-wraps span {
    color: var(--white-color);
    text-align: left;
    margin: 0;
}
.banner-video-wraps span{
    padding-bottom: 60px;
}
.banner-video-wraps h2 {
    color: var(--white-color);
    text-align: left;
    font-size: 38px;
    padding-bottom: 30px;
}

/* SERVICES */
.services {
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
}
.services .row {
    width: 100%;
}
.services-item {
    width: auto;
    height: auto;
    position: relative;
    margin: 10px 0 40px;
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: var(--transition-time);
    padding: 25px;
    
    /* cursor: pointer; */
}
.services-item__inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    justify-content: flex-start;
    margin: 0 auto;
}
.services-item:hover {
    transform: translateY(-5px);
}
.services-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.services-item--top-right {
    justify-content: flex-end;
}
.services-item--bottom-left {
    align-items: flex-end;
}
.services-item--bottom-right {
    justify-content: flex-end;
    align-items: flex-end;
}
.services-content {
    position: absolute;
    /* background-color: #fff; */
}
.services-content h1 {
    color: var(--white-color);
    font-weight: 600;
    margin: 10px 0;
}
.services-content h4 {
    color: var(--white-color);
}
.services-content button {
    padding: 7px 14px;
    border: 2px solid var(--white-color);
    margin: 5px;
    border-radius: var(--border-radius);
    transition: var(--transition-time);
}
.services-content button:hover {
    background-color: transparent;
}
.services-content a {
    color: var(--primary-color);
    text-decoration: none;
}
.services-content button:hover a {
    text-decoration: none;
    color: var(--white-color);
}

/* UNDER SERVICES */
.services-content--under {
}
.services-content--under h4 {
    color: var(--text-hover-color);
    font-size: 14px;
}
.services-content--under h1 {
    color: var(--back-color);
    /* font-size: 21px; */
}
.services-button {
    border-radius: 15px !important;
    padding: 7px 14px !important;
    font-size: 12px;
    border: 2px solid var(--primary-color) !important;
    background: var(--primary-color);
}
.services-button a {
    color: var(--white-color);
}
.services-button:hover {
    background: var(--white-color) !important;
}
.services-button:hover a {
    color: var(--primary-color) !important;
}

/* PROMOTION */
.promotion {
    width: 100%;
    height: auto;
}
.promotion__wraps {
    width: 100%;
    height: auto;
    padding: 0 10px;
}

.promotion__wraps-item {
    width: auto;
    height: 351px;
    padding: 10px;
    width: 100%;
    margin: 0 10;

}
.promotion__wraps-item:hover {

}
.promotion__wraps-item--large{
    height: 416px;
}
.promotion__item-inner {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: var(--transition-time)
}
.promotion__item-inner:hover {
    transform: translateY(-5px);
}
.promotion__wraps-img {
    position: absolute;
    width: 100%;
    height: 100%;
    max-height: 420px;
    left: 0;
    top: 0;
}
.promotion__item-content {
    width: 100%;
    height: 100%;
    padding: 25px;
    display: flex;
}
.promotion__item-content--top-right{
    justify-content: flex-end;
}
.promotion__item-content--top-right .promotion__item-heading,
.promotion__item-content--top-right .promotion__item-desc,
.promotion__item-content--top-right .promotion__item-button
{
    text-align: right;
}
.promotion__item-content--bottom-left{
    justify-content: flex-start;
    align-items: flex-end
}
.promotion__item-content--bottom-right{
    justify-content: flex-end;
    align-items:flex-end
}
.promotion__item-content--bottom-right .promotion__item-heading,
.promotion__item-content--bottom-right .promotion__item-desc,
.promotion__item-content--bottom-right .promotion__item-button
{
    text-align: right;
}
.promotion__item-details {
    display: flex;
    flex-direction: column;
    position: absolute;
}
.promotion__wraps-item--large h1 {
    color: var(--back-color) !important;
    font-family: "Raleway", sans-serif;
}
.promotion__wraps-item--large h3 {
    font-size: 14px !important;
    color: var(--text-hover-color) !important;
}
.promotion__item-heading h1{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 700;;
    color: var(--white-color);
    margin: 0;
}
.promotion__item-desc h3 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: var(--white-color);
    margin: 0;
}
.promotion__item-button{
    margin-top: 20px;
}

/* RECENT PRODUCT */
.recent-product {
    padding-top: 90px;
    padding-bottom: 50px;
}
.recent-product__title {
    width: 100%;
    text-align: center;
}
.recent-product__title h2 {
    font-weight: 600;
    margin-bottom: 20px;
}
.recent-product__title--underline {
    display: flex;
    margin-bottom: 20px;
}
.recent-product__title--underline span {
    margin: auto;
    display: block;
    width: 50px;
    height: 2px;
    background-color: var(--primary-color);
}
.recent-product__desc {
    margin-bottom: 60px;
}

/* THUMBNAILS */
.thumbnail {
    position: relative;
    border: 0;
    transition: 0.3s;
}
.thumbnail-recent {
    width: 258px !important;
    padding: 0;
    margin: 0 auto
}
.thumbnail-recomended{
    width: 360px ;
    padding: 0;
    margin: 0 auto
}
.thumbnail-link{
    text-decoration: none;
    color:unset
}
.thumbnail label {
    position: absolute;
    top: 10px;
    left: 4px;
    display: flex;
    width: 76px;
    height: 30px;
    background: var(--primary-color);
    justify-content: center;
    align-items: center;
    color: var(--white-color);
}
.thumbnail-link:hover {
    text-decoration: none;
    /* color: var(--primary-color); */
}
.thumbnail img {
    border-radius: var(--border-radius);
}
.thumbnail .label {
    padding: 5px 15px;
    background-color: var(--primary-color);
    position: absolute;
    top: 5%;
    left: 5%;
}
.thumbnail .caption h4 {
    font-weight: 600;
}
.thumbnail:hover {
    cursor: pointer;
    transform: translateY(-5px);
}
.thumb-old-price {
    text-decoration: line-through;
    color: var(--old-price-color);
    font-weight: 600;
}
.thumb-new-price {
    font-weight: 600;
}
.btn-thumb {
    display: none;
    position: absolute;
    bottom: -5%;
}
.thumbnail:hover .btn-thumb {
    animation: btn-thumb-transform 0.3s ease-in forwards;
    display: block;
}
@keyframes btn-thumb-transform {
    from {
        bottom: -5%;
        opacity: 0;
        /* display: none; */
    }
    to {
        bottom: 0;
        opacity: 1;
        /* display: block; */
    }
}
.farmer {
    margin-top: 100px;
    width: 100%;
    height: 300px;
    background: url(/assets/images/background/bg-3.jpg) bottom;
    background-repeat: none;
    text-align: center;
}
.farmer-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.farmer__avatar {
    width: 80px;
    height: 80px;
    margin: 10px;
}
.farmer__avatar img {
    border-radius: 50%;
}

.farmer__name {
    font-size: 15px;
    line-height: 21px;
    font-weight: 600;
    margin: 0;
}
.farmer__job{
    margin-bottom: 20px;
}
.farmer__job,
.farmer__desc {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: var(--text-hover-color)
}

/* FOOTER */
.footer {
    background-color: #666;
    width: 100%;
    min-height: 550px;
    position: relative;
    height: auto;
}
.footer-wraps {
    width: 100%;
    min-height: 480px;
    padding-top: 70px;
}
.footer-col {
    /* background-color: aquamarine; */
    height: 100%;
}
.footer-text {
    color: var(--white-color);
    padding-top: 30px;
}

.footer-icon {
    display: flex;
    justify-content: flex-start;
    padding-top: 30px;
}
.footer-icon a {
    text-decoration: none;
    margin: 15px;
}
.footer-icon a i {
    font-size: 17px;
    color: var(--white-color);
}
.footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}
.footer-info h3 {
    color: var(--white-color);
    font-weight: 600;
    margin-bottom: 15px;
}
.footer-info ul {
    flex: 1;
    padding: 0;
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.footer-info li {
    /* height: 42px; */
}
.footer-info a {
    text-decoration: none;
    color: var(--white-color);
    font-weight: 600;
}
.footer-info a:hover {
    color: var(--text-hover-color);
    cursor: pointer;
}
.footer-info ul li img {
    width: 68px;
    height: 68px;
    border-radius: var(--border-radius);
}
.footer-info ul li {
    display: flex;
}
.footer-info li {
    margin: 10px 0;
}
.footer-info img {
    margin-right: 15px;
}
.footer-desc {
    display: flex;
    flex-direction: column;
}
.footer-desc a:first-child {
    font-size: 16px;
    font-weight: 600;
}
.footer-desc a:hover {
    color: var(--text-hover-color);
}
/* AUTH */
.footer-auth {
    /* padding: 15px; */
    /* margin-top: 50px; */
    width: 100%;
    height: 52px;
    background-color: #333;
    position: absolute;
    bottom: 0;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
}
.farmer-wraps {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
}
/* .farmer-slide {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
} */
.slick-arrow {
    height: 50px;
}

/* CONTACT */
.contact-item {
}
.contact-map {
    margin: 100px 0;
}
.recent-product__title--underline {
    text-align: center;
}
.contact__title {
    margin: 100px 0;
}
.contact-title {
    margin-bottom: 50px;
}
.contact-item p {
    text-align: center;
}
.contact-item h3 {
    font-weight: 600;
    text-align: center;
}
.contact-thumbnail {
    width: 100%;
    height: 234px;
    background-color: var(--back-color);
    padding: 30px;
}
.contact-thumbnail:hover {
    text-decoration: none;
}
.contact-thumbnail__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-thumbnail__item i {
    font-size: 70px;
    color: var(--gold-color);
}
.contact-thumbnail__item h3 {
    color: var(--white-color);
}
.contact-thumbnail__item span {
    font-size: 14px;
    color: var(--text-hover-color);
}
.contact-input {
    display: flex;
    /* justify-content: space-between; */
}
.form-group {
    flex: 1;
    /* width: auto; */
}
.contact-form-group {
    width: 100%;
}
legend {
    text-align: center;
}
.contact-message {
    width: 100%;
    height: 260px;
}
.contact-form-btn {
    text-align: center;
}
.contact-form-btn a {
    cursor: pointer;
}

/* BLOG */
.thumb-blog-desc {
    font-size: 12px;
    color: var(--text-hover-color);
}
.caption h3:hover {
    color: var(--primary-color);
}
.blog-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.blog-form-group {
    width: 100%;
}
.blog-info-person img {
    border-radius: 50%;
}
.blog-info-person span {
    font-weight: 600;
}
.blog-info-person span:hover {
    color: var(--primary-color);
}
.blog-btn {
    text-align: center;
    margin: 100px 0;
}

.blog-details-auth,
.auth-info {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.blog-details-auth {
    justify-content: space-between;
}
.auth-info img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
}
.blog-detail-content__tags {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    margin: 20px 0;
    /* flex-direction: column; */
}
.blog-detail__tag-wraps {
    display: flex;
    flex-wrap: wrap;
    /* margin-left: 20px; */
}
.blog-detail-content__tags h4 {
    margin: 0;
}
.blog-detail-tags__wraps {
    display: flex;
    flex-wrap: wrap;
}
.blog-detail-content__tags span {
    display: block;
    padding: 5px 10px;
    margin: 10px 10px 0 0;
    border: 2px solid rgb(196, 195, 195);
    border-radius: var(--border-radius);
    font-size: 14px;
    box-sizing: border-box;
    transition: var(--transition-time);
}
.blog-detail-content__tags span:hover {
    /* background-color: var(--primary-color); */
    /* color: var(--white-color); */
    /* border: 2px solid; */
    border-color: var(--primary-color);
    cursor: pointer;
}
.underline {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--text-hover-color);
    opacity: 0.4;
    margin: 40px 0;
}
.blog-detail-content__button {
    display: flex;
    justify-content: space-between;
}
.blog-detail-content__button span {
    display: block;
    padding: 10px 25px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
    border-radius: var(--border-radius);
    transition: var(--transition-time);
}
.blog-detail-content__button span:nth-child(1) {
    transform-origin: 0 0;
}
.blog-detail-content__button span:nth-child(2) {
    transform-origin: 100% 100%;
}
.blog-detail-content__button span:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    transform: scaleX(2);
}
.blog-details__comments {
    margin-top: 20px;
}
.comment-item-auth,
.comment-item-auth span {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.comment-item-auth span {
    /* display: flex;
    align-items: baseline; */
}
.comment-item-auth h4 {
    margin-right: 10px;
    margin: 0;
}
.comment-content {
    display: flex;
    align-items: flex-start;
}
.comment-content img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}
.comment-content.reply {
    margin: 50px;
}
.blog-comment-form {
    margin-top: 30px;
    padding: 10px;
}
.blog-comment-form .form-group {
    width: 100%;
    padding: 10px;
}
.blog-comment-form .form-group .form-control {
    padding: 0;
    /* margin: 0 10px; */
}
.blog-comment-form button {
    padding: 11px 27px;
    border-radius: var(--border-radius);
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    font-weight: 600;
    color: var(--white-color);
    transition: var(--transition-time);
}
.blog-comment-form button:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
}
.blog-side-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* width: inherit; */
}
.blog-content-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog-content-search input {
    outline: none;
    border: none;
}
.blog-content-search i {
    cursor: pointer;
}
.blog-categories {
    width: 100%;
}
.blog-categories ul {
    list-style: none;
    padding: 0;
    margin-top: 30px;
    width: 100%;
}
.blog-categories a {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--text-hover-color);
    cursor: pointer;
    color: var(--text-color);
}
.blog-categories a:hover {
    text-decoration: none;
    color: var(--primary-color);
}

.blog-form-news button {
    margin: 10px 0;
}
.blog-btn button {
    padding: 12px 35px;
    border-radius: var(--border-radius);
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white-color);
    font-weight: 600;
    transition: var(--transition-time);
}
.blog-btn button:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
}
/* SHOP */
.shop-sort {
    display: flex;
    align-items: center;
}
.shop-sort select {
    outline: none;
    border: none;
}
.shop-sort span {
    color: var(--text-hover-color);
    display: block;
    margin-right: 10px;
    font-size: 14px;
}
.shop-view {
    display: flex;
}
.shop-control {
    width: 100%;
    padding: 20px;
    border: 1px solid var(--text-hover-color);
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    border-radius: var(--border-radius);
}
.shop-view-btn {
    border: 2px solid var(--text-hover-color);
    width: 36px;
    height: 36px;
    display: flex;
    /* background-color: var(--primary-color); */
    margin-left: 10px;
    border-radius: var(--border-radius);
}
.shop-view-btn i {
    color: var(--primary-color);
    font-size: 16px;
    margin: auto;
}
.shop-view-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}
.shop-view-btn.active {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.shop-view-btn.active i {
    color: var(--white-color);
}
.shop-item-large .thumbnail--large {
    display: flex;
    justify-content: flex-start;
}
.shop-item-large .thumbnail--large img {
    margin-left: 0;
    margin-right: 50px;
    width: 360px;
    height: auto;
}
.shop-item-large .thumbnail--large button {
    position: unset;
    animation: unset;
}
.shop-item {
    transition: 1s;
}
.shop-details-item {
}
.shop-details-thumb {
    padding: 10px 0;
    display: flex;
}
.shop-details-thumb img {
    width: 80px !important;
    height: auto;
    margin-right: 10px !important;
}
.shop-details-img-large {
    width: 300px;
    height: 300px;
    position: absolute;
    border-radius: 100%;
    /*Multiple box shadows to achieve the glass effect*/
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25),
        inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    /*Lets load up the large image first*/
    background: url("http://gardi.gtcreators.com/wp-content/uploads/2018/02/shop-4-3-600x800.jpg") no-repeat;
    /*hide the glass by default*/
    display: none;
}

/* CART */
.cart-table {
    table-layout: fixed;
    width: 100%;
}
.cart-table th {
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 600;
}
.cart-btn {
    text-align: center;
    margin-bottom: 50px;
}
.cart-btn a {
    text-decoration: none;
}
.cart-item-index,
.cart-item-name,
.cart-item-price,
.cart-total-label,
.cart-total-price,
.cart-item-total {
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 600;
}
.cart-item:hover {
    cursor: pointer;
    /* background-color: #333; */
}
/* .cart-item-desc {
    width: 40%;
} */
.cart-item-img .img-responsive {
    width: 36px;
    height: auto;
}
/* .cart-item-price {
    width: 10%;
} */
.cart-total-price {
    font-size: 20px;
}
.cart-item-count {
    display: flex;
    /* width: 10%; */
}
.cart-item-count input {
    min-width: 50px;
    /* width: auto; */
    margin-right: 10px;
}
.cart-btn-remove i {
    color: red;
    font-size: 20px;
    margin: auto;
}

/* SLIDE */
.form-filter {
    width: 100%;
}
.slidecontainer span {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
}
.range-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
/*Thiết kế phần để kéo trượt trong rangerslider -- dùng -webkit- để chạy trên Chrome, Opera, Safari, Edge*/
.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--primary-color);
    cursor: pointer;
}
/*-moz- dùng để thiết kế rangerslider trên firefox nhé*/
.range-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
}
/* PAGES */
.page-about__video {
    display: flex;
    height: auto;
}
.page-about__video .video {
    height: auto;
}
.page-about__video-wraps {
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
}
.page-about__video-wraps video {
    width: 100%;
    height: 400px;
}
.page-about__content {
    display: flex;
    flex-direction: column;
}
.page-about__content h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 25px;
}
.page-about__content em {
    font-size: 12px;
    margin-bottom: 32px;
}
.page-about__content span {
    font-size: 14px;
    margin-bottom: 20px;
}
/* .page-about__content button {
    padding: 15px 35px;
} */
.page-about__button button {
    padding: 15px 35px;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    color: var(--white-color);
}
.page-about__button button:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
}
/* PAGE SERVICES */
.pages-services {
    margin-top: 70px;
    padding-bottom: 50px;
}
.pages-services__item {
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;
    justify-content: center;
}
.pages-services__item h3 {
    font-size: 17px;
    line-height: 24px;
    margin: 0;
    font-weight: 600;
}
.pages-services__desc {
    padding-left: 25px;
}
/* PAGES BANNER */
.page-item__banner {
    background: url(/assets/images/background/bg-4.jpg);
    width: 100%;
    height: auto;
}
.page-item__inner {
    margin-bottom: 80px;
}
.page-item__banner span {
    color: var(--primary-color);
}
.page-item__banner .recent-product__title {
    margin-bottom: 50px;
}
.page-item__underline {
    width: 100%;
    height: 4px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.page-item__underline span {
    display: block;
    background-color: var(--primary-color);
    width: 50px;
    height: 2px;
}
.page-item__wraps {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}
.page-item__thumb {
    padding: 30px;
    height: 316px;
    width: 326px;
    border: 2px solid var(--primary-color);
    background-color: var(--white-color);
}
.page-item__content {
    /* box-sizing: content-box; */
    /* height: 300px; */
    /* padding: 30px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: var(--transition-time);
}
.page-item__thumb h3 {
    font-size: 18px;
    font-weight: 600;
}
.page-item__thumb p {
    color: var(--text-hover-color);
    text-align: center;
}
.page-item__thumb a {
    color: var(--primary-color);
    font-weight: 600;
    cursor: pointer;
}
.page-item__thumb a:hover {
    text-decoration: none;
}
.page-banner-blog {
    width: 100%;
    height: 648px;
    display: flex;
    align-items: center;
}
.page-banner-blog__img {
    /* flex: 1; */
    height: 100%;
    width: 50%;
    /* margin-right: 50px; */
    position: relative;
}
.page-banner-blog__desc {
    width: 100%;
    position: absolute;
    bottom: 0;
    color: var(--white-color);
    text-align: center;
    padding: 50px 0;
}
.page-banner-blog__desc h1 {
    font-size: 56px;
    font-weight: 800;
}
.page-banner-blog__img img {
    width: 100%;
    height: 100%;
}

.page-banner-blog__content {
    /* flex: 1; */
    padding: 0 15px;
    margin: 0 35px;
    width: 50%;
}
.page-banner-blog__content h2 {
    font-size: 28px;
    font-weight: 600;
}
.page-banner-blog__content span {
    color: var(--primary-color);
}
.page-banner-blog__content h2 p {
    margin: 20px 0;
    display: block;
    width: 50px;
    height: 2px;
    background-color: var(--primary-color);
}
.page-banner-blog__content em {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.71;
    display: block;
    margin-bottom: 20px;
    width: 100%;
}
.page-banner-blog__list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.page-banner-blog__item {
    display: flex;
    align-items: baseline;
    padding: 5px 0;
}
.page-banner-blog__item:hover {
    text-decoration: none;
}
.page-banner-blog__item i {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.page-banner-blog__content p {
    color: var(--text-hover-color);
    font-size: 13px;
    margin-bottom: 20px;
    font-weight: 500;
}
.page-banner-blog__item p {
    font-weight: 500;
    margin: 0;
}
.gtc_icon_list__icon {
    color: #ffffff;
    background-color: var(--primary-color);
    font-size: 12px;
}
/* PAGE MEMBERS */
.page-members h2 span {
    color: var(--primary-color);
}
.page-members__wraps {
    width: 100%;
    /* text-align: center; */
}
.page-members__img {
    /* width: 100%; */
    width: 270px;
    height: 330px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.page-members__img:hover img {
    transform: scale(1.1);
}
.page-members__img:hover .page-members__modal {
    transform: scale(1);
    opacity: 0.8;
    visibility: visible;
}
.page-members__thumb img {
    transition: var(--transition-time);
}
.page-members__thumb h4,
.page-members__thumb p {
    text-align: center;
}
.page-members__thumb h4 {
    font-weight: 600;
}
.page-members__thumb p {
    font-weight: 500;
    color: var(--text-hover-color);
}
.page-members__modal {
    background: var(--primary-color);
    opacity: 0.8;
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    width: auto;
    height: auto;
    border-radius: var(--border-radius);
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.99);
    transform-origin: 50% 0%;
    transition: var(--transition-time);
}
.page-members__modal p {
    color: var(--white-color);
    font-weight: 500;
}
.page-members__modal ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.page-members__modal ul li {
    margin: 20px;
}
.page-members__modal ul li a {
    font-size: 20px;
    color: var(--white-color);
}
.page-members__modal ul li a:hover {
    text-decoration: none;
    opacity: 0.8;
}
.page-members__button {
    width: 100%;
    text-align: center;
}

/* CHECKOUT */
.register-form {
    display: none;
    transition: var(--transition-time);
}
.login-form {
    display: none;
}
.login-form.active {
    display: block;
}
.register-form.active {
    display: block;
}
.form-control {
    padding: 10px !important;
}
/* PAGE 404 */
.error-page {
    text-align: center;
    padding: 100px 0;
}
.error-page__inner {
    padding: 126px;
}
.error-page h1,
.error-page h3 {
    font-weight: 600;
}
.error-page h1 {
    font-size: 36px;
    margin: 0 0 18px 0;
}
.error-page h3 {
    font-size: 21px;
    margin: 0 0 30px 0;
}
.error-page button {
    margin: 5px;
    padding: 12px 35px;
    border-radius: var(--border-radius);
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: var(--white-color);
    font-weight: 600;
    transition: var(--transition-time);
}
.error-page button:hover {
    background: var(--white-color);
    color: var(--primary-color);
}
/* FAQ PAGE */
.faq-content__question {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.faq-content__question p {
    text-align: left;
    margin-bottom: 60px;
}
.faq-content__question h3 {
    margin-bottom: 30px;
}
/* FAQ CONTENT ITEM  */
.faq-content__wraps {
    padding-bottom: 130px;
}
.faq-content__item,
.offers-content__item {
    border: 1px solid var(--text-hover-color);
    padding: 14px 20px;
    border-radius: var(--border-radius);
    margin-bottom: 10px;
}
.faq-content__item a,
.offers-content__item a {
    font-weight: 600;
    color: var(--text-color);
    display: block;
    text-decoration: none;
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}
.faq-content__item a:hover {
    text-decoration: none;
    cursor: pointer;
}
.faq-content__item i {
    padding-right: 10px;
    color: var(--primary-color);
}
.faq-content__item p {
    text-align: left;
    padding-top: 20px;
}
.faq-thumbnail {
    width: 100%;
    height: auto;
}
.faq-thumbnail img {
    width: 100%;
    height: 100%;
}
.faq-content__icon {
    display: inline-block;
}
.fa-minus {
    display: none;
}
.fa-plus {
    display: none;
}
.fa-minus.active {
    display: block;
}
.fa-plus.active {
    display: block;
}

/* WHO WE ARE PAGE */
.page-who-we-are__content {
}
.page-who-we-are__content h2 {
    font-weight: 600;
    font-size: 28px;
    margin: 10px 0 0;
}
.page-who-we-are__content h2 span {
    color: var(--primary-color);
}
.page-who-we-are__content em {
    display: block;
    font-size: 14px;
    margin: 20px 0;
}
.page-who-we-are__content p {
    /* margin-bottom: 20px; */
}
.page-who-we-are__content .page-banner-blog__list a {
    font-size: 13px;
    text-decoration: none;
    color: var(--text-color);
    margin-top: 8px;
}
.page-who-we-are__content .page-banner-blog__list {
    margin-top: 20px;
}
.page-who-we-are__content i {
    width: 12px;
    height: 12px;
    background-color: transparent;
}
/* WHO WE ARE BANNER */
.who-we-are__banner {
    width: 100%;
    height: auto;
    background: url(/assets/images/banner/about-2.jpg) bottom left;
    background-size: cover;
    background-attachment: fixed;
    margin: 80px 0 70px;
    padding: 145px 0 80px ;
}
/* .who-we-are__banner .container,
.who-we-are__banner .row,
.who-we-are__banner .item {
    height: auto;
} */
.who-we-are__banner-item {
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content:center;
    padding-bottom: 60px;
}
.item__wraps {
    width: 100%;
    /* height: inherit; */
    display: flex;
    flex-direction: column;
    padding: 0 auto;
    /* margin: auto ; */
}
.item__wraps h1 {
    color: var(--white-color);
    font-size: 60px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    margin: 0;
    font-family: "Lato", sans-serif;
    text-align: center;
}
.item__inner h3 {
    font-size: 12px;
    font-weight: 800;
    color: var(--white-color);
    width: 100%;
    text-align: center;
    margin: 0;
    font-family: "Lato", sans-serif;
}
/* WHO WE ARE SERVICES */
.who-we-are__services {
    width: 100%;
    height: auto;
    padding-bottom: 70px;
}
.services-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.services-title__inner h3 {
    font-weight: 700;
    font-size: 28px;
}
.services-title__inner span {
    color: var(--primary-color);
}
.services-title__btn button {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 12px;
    font-weight: 600;
    border: 2px solid var(--primary-color);
    transition: var(--transition-time);
}
.services-title__btn button:hover {
    background-color: transparent;
    color: var(--primary-color);
}
/* SERVICES ITEM */
.services-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    cursor: pointer;
}
.services-item__img {
    width: 100%;
    height: 184px;
    position: relative;
}
.services-item__img:hover .services-item__img-over-lay {
    opacity: 0.4;
}
.services-item__img-over-lay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 0;
    transition: var(--transition-time);
}
.services-item__content {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.services-item__content h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}
.services-item__content a {
    color: var(--text-color);
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: var(--transition-time);
}
.services-item__content a:hover {
    text-decoration: none;
    color: var(--text-hover-color);
}
.services-item__content a i {
    font-size: 10px;
    font-weight: 600;
    padding-left: 5px;
}
/* WHO WE ARE MORE */
.who-we-are__more {
    padding-top: 180px;
    padding-bottom: 100px;
}
.who-we-are__clients h2 {
    font-weight: 600;
}
.who-we-are__clients-logo {
    width: 100%;
}
.who-we-are__clients-logo img {
    width: 190px;
    height: 150px;
}
/* SPECIALIST */
.progress {
    height: 5px;
}
.specialist-progress__title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.specialist-progress__title span {
    color: var(--text-color);
    font-weight: 600;
}
.specialist-progress__title p {
    display: inline-block;
    margin: 0;
    color: var(--text-color);
}

/* MENBERS PAGE */
.offers {
    background: url(/assets/images/background/bg-4.jpg) bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
.offers__btn-list {
    display: flex;
}
.offers__btn-item {
    margin: 10px 5px;
    cursor: pointer;
    transition: var(--transition-time);
    /* text-decoration: none; */
}
.offers__btn-item span {
    text-decoration: none;
}
.offers__btn-item:hover {
    text-decoration: none;
    transform: translateY(-5px);
    opacity: 0.8;
}
.offers__btn-item.active .offers__btn-inner {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-color: var(--primary-color);
}
.offers__btn-inner {
    padding: 11px 27px;
    border: 2px solid var(--text-hover-color);
    color: var(--text-color);
    font-weight: 600;
    background: var(--white-color);
}
.offers-content {
    border: 1px solid var(--text-hover-color);
    background: var(--white-color);
    margin-bottom: 50px;
    padding: 20px;
}
.offers-content__inner {
}
.offers-content__block em {
    display: block;
    font-weight: 600;
    color: var(--text-hover-color);
    padding-bottom: 20px;
}

/* PRICING */
.pricing-container{
    margin-top: 50px;
}
.offers-content__pricing-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.offers-content__pricing-list li {
    padding: 7px 0;
}
.offers-content__pricing-list li a {
    color: var(--text-color);
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}
.offers-content__pricing-list li a:hover {
    text-decoration: none;
    color: var(--text-hover-color);
}
.offers-content__item a {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

/* SERVICES PAGES */
.services-choose__item-wraps {
    width: 100%;
    margin-bottom: 60px;
}
.services-choose__item-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.services-choose__item-inner i {
    font-size: 54px;
    color: var(--primary-color);
}
.services-choose__item-inner h3 {
    font-size: 16px;
    font-weight: 600;
}
.services-choose__item-inner p {
    width: 100%;
}
.services__banner {
    /* height: auto; */
    /* max-height: auto; */
    background-attachment: fixed;
    padding: 95px 0 35px !important;
}
/* remember to responsive */

.services__banner-item {
    display: flex;
    /* flex-direction: column; */
    height: 100%;
    justify-content: center;
    /* padding: 50px; */
    box-sizing: border-box;
}
.services__banner-inner{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 455px;
}
.services__banner-item i {
    font-size: 37px;
    color: var(--white-color);
    padding-right: 20px;
}
.services__banner-item h1 {
    font-size: 38px;
    color: #fda800;
    text-align: left;
    /* padding-left: 20px; */
    /* border-left: 1px solid var(--text-hover-color); */
}
.services__banner-item h3 {
    font-size: 14px;
    text-align: left;
    padding-left: 20px;
    /* padding: 0 !important; */
}
h3.item__wraps-inner{
    font-size: 12px;
    color: var(--white-color)
}
.item__wraps-inner {
    position: relative;
    padding-left: 20px;
}
.item__wraps-inner--sparate::after {
    content: "";
    width: 1px;
    height: 24px;
    background: var(--white-color);
    position: absolute;
    left: 0;
    top: 40%;
    transform: translateY(-50%);
}

/* PRICING */
.pricing {
    margin-bottom: 120px;
}
.pricing-item-wraps {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.pricing-item {
    width: 270px;
    height: auto;
    padding: 30px 0;
    border: 2px solid var(--text-hover-color);
    transition: var(--transition-time);
    /* position: absolute; */
}
.pricing-item:hover {
    transform: translateY(-5px);
}
.pricing-item h3 {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 21px;
    font-weight: 600;
}
.pricing-item__banner-money {
    display: flex;
    font-weight: 600;
}
.pricing-item__banner-money h2 {
    margin: 0;
    font-size: 40px;
    font-weight: 600;
}
.pricing-item__banner-money span {
    font-size: 16px;
}
.pricing-item__banner {
    width: 100%;
    background-color: var(--primary-color);
    padding: 20px;
    margin: 30px 0;
    color: var(--white-color);
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pricing-item__endow-list {
    list-style: none;
    padding: 25px 0;
    width: 100%;
    text-align: center;
    margin: 0;
}
.pricing-item__endow-item {
    padding-bottom: 10px;
    font-family: "Lato", sans-serif;
    color: var(--text-hover-color);
}
.pricing-item__btn {
    width: 100%;
    text-align: center;
}
.pricing-item__btn a {
    font-size: 11px;
    font-weight: 600;
    color: var(--white-color);
    border: 2px solid var(--primary-color);
    background-color: var(--primary-color);
    transition: var(--transition-time);
}
.pricing-item__btn a:hover {
    color: var(--primary-color);
    background-color: var(--white-color);
}

/* ACCORDION */
.panel-accordion {
    padding: 14px 20px;
    border: 2px solid var(--text-hover-color);
}
.collapse-control {
    color: var(--text-color);
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.collapse-control span {
    margin-left: 5px;
}
.collapse-control:hover {
    /* text-decoration: none; */
    color: var(--text-hover-color);
}
/* TITLE FORM */
legend{
    font-weight: 600;
    font-size:30px;
    font-family: "Raleway", sans-serif;
}
label span {
    color: red;
}
.blog__comment-form{
    text-align: left;
}
.blog-comment-form label{
    font-weight: 400;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    color: var(--text-hover-color);
}
.blog-comment-form legend {
    font-size: 24px;
    font-family: "Raleway", sans-serif;
}