@media only screen and (max-width: 1199px){
     /* PROMOTION */
    .promotion__item-inner {
        width: 276px;
        height: 288px;
    }
    .promotion__wraps-item--large .promotion__item-inner {
        width: 100%;
    }
    /* THUMBNAILS */
    .thumbnail-recent {
        width: 213px !important;
    }
    .thumbnail-recomended {
        width: 100%;
        height: auto;
    }

    .banner-video-inner video {
        width: 100% !important;
        height: auto;
    }
}
@media only screen and (min-width: 1181px) and (max-width: 1200px) {
    .banner-video-inner {
        padding-top: 20px;
        padding-left: 30%;
    }
   
}
@media only screen and (max-width: 1180px) {
    .menu-log-contact {
        display: none;
    }
/*  
    .banner-video {
        height: 800px;
        padding: 90px 0;
    } */
    .banner-video-wraps p {
        margin-top: 30px;
    }
    .banner-video-inner {
        padding-top: 20px;
        padding-left: 20%;
    }
}


@media screen and (max-width: 1100px) {
/* PROMOTION */
.promotion__item-inner{
                width: 250px;
                height: 238px
}
.promotion__item-heading h1 {
                font-size: 30px;
}
/* BANNER */
.banner-video-inner{
                padding-left: 40%;
}
}


/* SMALL DISPLAY PC AND IPAD PRO */
@media only screen and (max-width: 1080px) {
    .display-hide {
        display: none;
    }
    .display-block {
        display: block;
    }
    .logo-container {
        position: relative;
        background: var(--back-color);
    }
    /* BANNER */
    .banner-top {
        height: auto;
        padding-bottom: 20px;
    }
    .banner-inner h2 {
        font-size: 40px
    }
    .banner-inner h3{
        font-size: 20px
    }
    .banner-inner {
        margin: 50px 0;
    }
    .banner-video-wraps h2 {
        margin-top: 10px;
    }
    video {
        width: 400px;
        height: auto;
    }

    .menu__logo-bar {
        min-height: 100px;
    }
    .logo {
        width: 119px;
        height: 70px;
        flex: 1;
    }
    .logo-container {
        /* margin: 0; */
        position: relative;
        width: 100%;
    }
    .menu__logo-bar {
        background-color: #333;
        position: relative;
    }
    .menu__logo-bar-function {
        margin-left: 100;
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
    .menu__logo-bar-function i {
        color: var(--white-color);
        font-size: 20px;
        margin-left: 20px;
    }
    .menu__logo-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu-logo-slide {
        width: 100%;
        height: auto;
        background-color: var(--white-color);
        position: absolute;
        top: 100%;
        z-index: 1;
    }
    .menu-logo-slide ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .menu-logo-slide li a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        color: var(--text-color);
    }
    .menu-logo-slide li {
        line-height: 20px;
        padding: 20px;
    }

    .search-box {
        position: absolute;
        top: 90%;
        z-index: 1;
        width: 100%;
        display: none;
        opacity: 0;
    }
    .search-box.active {
        display: block;
        animation: box-show var(--transition-time) ease-in forwards;
    }
    @keyframes box-show {
        from {
            opacity: 0;
            top: 90%;
        }
        to {
            opacity: 1;
            top: 100%;
        }
    }
    .cart-box {
        position: absolute;
        top: 90%;
        z-index: 1;
        width: 100%;
        display: none;
        opacity: 0;
        background-color: var(--white-color);
        max-height: 400px;
        overflow-y: auto;
    }
    .cart-box li {
        width: 100%;
    }
    .cart-box.active {
        display: block;
        animation: box-show var(--transition-time) ease-in forwards;
    }
    /* SERVICES */
    .services-item {
        /* height: 236px; */
    }
    .services-item h1 {
        font-size: 24px;
    }
    .services-item h4 {
        font-size: 14px;
    }
    /* FOOTER */
    .footer-col {
        height: auto;
    }
    .footer-wraps {
        margin-bottom: 10px;
    }
    .footer-info {
        height: auto;
        padding-bottom: 10px;
    }
    .footer-auth {
        height: auto;
        margin-top: 10px;
    }
    .services-item__inner {
        width: 100%;
        margin: 0 10px;
        display: flex;
        justify-content: center;
    }
    .services-item {
        width: 320px;
    }
    .services-item__img {
        width: 100%;
        height: 204px;
    }
    .services-item__img img {
        width: 100%;
    }
}

@media only screen and (min-width: 1001px) {
    .services__banner {
        /* height: 248px; */
    }
}

/* 999PX */
@media screen and (max-width: 999px){
/* PROMOTION */
.promotion__item-inner{
    width: 100%;
    height: 238px
}       
.promotion__wraps-item--large{
    height: auto;
}
.promotion__wraps-item{
    height: auto;
}
/* THUMBNAILS */
.thumbnail-recent{              
width: 100% !important;
}
@media only screen and (min-width: 775px) and (max-width: 800px) {
    .banner-video-inner {
        padding: 20px 0;
    }
}
/* MOBILE AND TABLET (IPAD) */
@media only screen and (min-width: 480px) and (max-width: 768px) {
    /* BANNER */
    .banner-inner {
        margin-bottom: 5%;
    }
    .banner-inner h2 {
        font-size:35px
    }
      .banner-inner h3 {
        font-size:18px
    }
    .banner-video-wraps h2 {
        margin-top: 10px;
    }
    .banner-video-wraps p:nth-child(1) {
        margin-top: 10px;
    }
    .banner-video-inner {
        padding-left: 0;
    }
    /* THUMBNAILS */
    .thumbnail-link img{
        width: 100%;
    }
    .cart-item-image {
        display: none;
    }
    /* WHO WE ARE */
    .who-we-are__banner{
        height: auto;
    }
    /* FOOTER */
    .footer-col {
        height: auto;
    }
    .footer-wraps {
        margin-bottom: 10px;
    }
    .footer-info {
        height: auto;
        padding-bottom: 10px;
    }
    .footer-auth {
        height: auto;
        margin-top: 10px;
    }
    /* css table ở đấy */
    /* PAGES */
    .page-banner-blog {
        flex-direction: column;
    }
    .page-banner-blog__img {
        width: 100%;
        height: 210px;
    }
    .page-banner-blog__img img {
        width: 100%;
    }
    .page-banner-blog__content {
        width: 100%;
    }
}
/* MOBILE */
@media only screen and (max-width: 648px) {
    /* HEADER */
    .display-hide {
        display: none;
    }
    .display-block {
        display: block;
    }
    .menu__logo-bar {
        min-height: 100px;
    }
    .logo {
        width: 119px;
        height: 70px;
        flex: 1;
    }
    .menu__logo-bar {
        background-color: #333;
        position: relative;
    }
    .menu__logo-bar-function {
        margin-left: 0;
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
    .menu__logo-bar-function i {
        color: var(--white-color);
        font-size: 20px;
        margin-left: 20px;
    }
    .menu__logo-items {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .menu-logo-slide {
        width: 100%;
        height: auto;
        background-color: var(--white-color);
        position: absolute;
        top: 100%;
        z-index: 1;
    }
    .menu-logo-slide ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .menu-logo-slide li a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        color: var(--text-color);
    }
    .menu-logo-slide li {
        line-height: 20px;
        padding: 20px;
    }
    .menu-logo-slide li:hover {
        background-color: #999;
    }
    .search-box {
        position: absolute;
        top: 90%;
        z-index: 1;
        width: 100%;
        display: none;
        opacity: 0;
    }
    .search-box.active {
        display: block;
        animation: box-show var(--transition-time) ease-in forwards;
    }
    @keyframes box-show {
        from {
            opacity: 0;
            top: 90%;
        }
        to {
            opacity: 1;
            top: 100%;
        }
    }
    .cart-box {
        position: absolute;
        top: 90%;
        z-index: 1;
        width: 100%;
        display: none;
        opacity: 0;
        background-color: var(--white-color);
        max-height: 400px;
        overflow-y: auto;
    }
    .cart-box.active {
        display: block;
        animation: box-show var(--transition-time) ease-in forwards;
    }
    .cart-box ul {
        padding: 10px;
    }
    .cart-box li {
        width: 100%;
    }
    .cart-table td,
    .cart-table th {
        font-size: 12px;
    }
    .cart-count {
        padding: 0;
        width: 20px !important;
        margin: 0;
    }
    /* BANNER */
    .banner {
        height: auto;
        background-size: cover;
    }
    .banner-inner h3 {
        font-size: 20px;
    }
    .banner-inner h1 {
        font-size: 40px;
        text-align: center;
        font-weight: 500;
        margin-top: 0;
    }
    .banner__item {
        height: auto;
        align-items: flex-start;
        /* justify-content: space-between; */
        margin-bottom: 30px;
    }
    .banner__item i {
        margin-right: 20px;
        font-size: 44px;
    }
    .banner__info h4 {
        margin-bottom: 20px;
    }
    .banner-item--decor {
        float: none;
        margin: 0 auto;
    }
    .banner-video-inner {
        padding-left: 0;
    }
    .banner-video-wraps video {
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }
    /* SERVICES */
    .services-item {
        height: auto;
    }
    /* RECENT PRODUCT */
    .recent-product {
        height: auto;
    }
    .recent-product__title {
        width: 100%;
    }
    .recent-product__title h2 {
        width: 100%;
    }

    /* SHOP */
    .shop-view-btn {
        display: none;
    }
    .shop-sort span {
        display: none;
    }
    /* FOOTER */
    .footer-col {
        height: auto;
    }
    .footer-wraps {
        margin-bottom: 10px;
    }
    .footer-info {
        height: auto;
        padding-bottom: 10px;
    }
    .footer-auth {
        height: auto;
        margin-top: 10px;
    }
}

/* only only screen and (max-width: 480px) and (max-width: 640px) */
