:root {
    --primary-color: #5cb85c;
    --facebook-color: #3b5999;
    --twitter-color: #55acee;
    --youtube-color: #cd201f;
    --instagram-color: #e4405f;
    --white-color: #fff;
    --text-color: #222;
    --old-price-color: #999;
    --text-hover-color: #999;
    --back-color: #333;
    --transition-time: 0.3s;
    --gold-color: gold;
    --border-radius: 4px;
}
html {
    /* font-size: 65.5%; */
    font-size: 14px;
}
body {
   font-family: 'Raleway', sans-serif;
}
.body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}
.body-background{
    position: absolute;
    height: 240px;
    width: 100%;
    top: 0;
    left: 0;
    background: url(../images/background/bg-4.jpg) ;
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
}
.button-large{
    border-radius: 100px;
}
.button {
    border-radius: 15px;
}
.nopadding {
    padding: 0;
    
}

/* BUTTON */
.button_wraps{
width: 100%;
margin: 10px 0;
}
.btn {
    font-weight: 600;
    color: var(--white-color);
    transition: var(--transition-time);
    font-family: 'Lato', sans-serif;
    outline: none !important;
}
.btn:hover {
    background-color:var(--white-color);
    color: var(--primary-color);
    cursor: pointer;
}
.btn--custom{
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
}
.btn--shadow{
    color: var(--back-color);
    background-color: var(--white-color);
    box-shadow: 1px 1px 0 2px rgb(0 0 0 / 10%);
}
.btn--hover-white{
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
}
.btn--hover-white:hover {
   border: 2px solid var(--white-color)
}
.btn--hover-shadow{
    color: var(--white-color);
    background-color: var(--primary-color);
    box-shadow: 1px 1px 0 2px rgb(0 0 0 / 10%);
}
.btn--hover-trans{
    background-color:var(--white-color);
    color: var(--primary-color);
    border: 2px solid var(--white-color);
    box-shadow: 1px 1px 0 2px rgb(0 0 0 / 10%);
}
.btn--hover-trans:hover {
    background: transparent;
    color: var(--white-color)
}
.btn.xl{
    font-size: 16px;
    padding: 14px 40px;
}
.btn.l{
    font-size: 14px; 
    padding: 12px 35px;
}
.btn.m{
    font-size: 12px;
    padding: 11px 27px;
}
.btn.s{
    font-size: 11px;
    padding: 7px 14px;
}
.btn--radius{
    border-radius:100px !important;
}
/* SERVICES */
.services-button {
    border: 2px solid var(--white-color);
    color: var(--primary-color);
    padding: 8px 16px;
    border-radius: 5px;
}
.services-button:hover {
    background-color: transparent;
    color: var(--white-color);
}
.space {
    width: 100%;
    height: 50px;
}
/* in large display, this class is none able visibility */
.display-block {
    display: none;
}
a {
    text-decoration: none;
}